header{
    display: flex;
    border: 0.5rem solid #0C0C0C;
    background-color: #FEF1AF
}
header picture img {
    height: 100px;
    border: 0;
    margin: 5px;
}
nav ul{
    display: flex;
    flex-direction: row;
    border: 0.5rem solid #0C0C0C;
    border-left-width: 0;
    border-left: 0;
    background-color: #FEF1AF
}
nav ul li{
list-style: none;
padding: 2rem;
}
nav ul li a{
   text-decoration: none;
   color: #0C0C0C;
}
nav ul li a:hover{
    text-decoration: none;
    color: #0C0C0C;
}
 body{
     background-color: #E6A451;
}
 footer{
    
    border: 0.5rem solid #0C0C0C;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FEF1AF;
}
main{
    display: flex;
    flex-direction: row;
}
main picture{
    display: flex;
    flex-direction: row;
}
 